// ###############################################
// ###############################################
// START Boilerplate (not Important for the Tutorial)
    
$prime: #ED8936
$second: #1B2431
$font: #c9d2de

// END Boilerplate (not Important for the Tutorial)
// ###############################################
// ###############################################